@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

input[type='search']::-webkit-search-cancel-button {
  appearance: none;
}

.option-summary-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
